<footer>
    <div class="row">
          <div class="col-md-4">
            <h4>About us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4">
            <h4>Beauty Science</h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        </div>
        <div class="col-md-4">
            <h4>Contact us</h4>
            <a href="" title="facebook-contact" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
            <a href="" title="twitter-contact" target="_blank" rel="noopener"><i class="fab fa-twitter-square"></i></a>
        </div>    
    </div>
    <div class="text-center copyright">@2018 | Lorena Lugo Web Development</div>
</footer>